body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

.text-muted {
  color: #BCBBBB;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

.iconicstroke-book-alt {
  font-size: 7em;
}

.img-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.address-size {
  font-size: 0.8em;
}

.hr-decoration {
    background: none repeat scroll 0 0 #7d97ad;
    height: 5px;
}
