* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.italic {
	font-style: italic;
}

body {
	font-family: 'Georgia',Helvetica,Arial,Sans-serif;
}

span {
	font-weight: 900;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	width: 300px;
	padding: 10px 0;
}

h3 {
	padding: 10px 0;
	font-weight: 900;
	font-size: 1.7em;
}

.card {
	width: 340px;
	border: 1px solid grey;
	padding: 10px 20px;
	box-shadow: 8px 5px 8px grey;
}


.information {
	border: 1px solid grey;
	padding: 10px 10px;
}
